@using Benchmark_15.Models
@{
    ViewBag.Title = "SelectPrenotazione";
}

<h2>SelectPrenotazione</h2>


<table class="table">
    <thead>
        <tr>
            <th>IdPrenotazione</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Tipologia</th>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th>DataPrenotazione</th>
            <th>Anno</th>
            <th>Dal</th>
            <th>Al</th>
            <th>Caparra</th>
            <th>Tariffa</th>
            <th>MezzaPensione</th>
            <th>PensioneCompleta</th>
            <th>PrimaColazione</th>
        </tr>
    </thead>
    @foreach (Prenotazione c in Model)
    {
        <tbody>
            <tr>
                <td>@c.IdPrenotazione</td>
                <td>@c.Descrizione</td>
                <td>@c.Tipologia</td>
                <td>@c.Nome</td>
                <td>@c.Cognome</td>
                <td>@c.DataPrenotazione</td>
                <td>@c.Anno</td>
                <td>@c.Dal</td>
                <td>@c.Al</td>
                <td>@c.Caparra</td>
                <td>@c.Tariffa</td>
                <td>@c.MezzaPensione</td>
                <td>@c.PensioneCompleta</td>
                <td>@c.PrimaColazione</td>
                <td><a href="EditPrenotazioni?Id=@c.IdPrenotazione">Modifica</a></td>
            </tr>

        </tbody>
    }
</table>

<a href="CreatePrenotazione">Aggiungi prenotazione</a>